body {
  font-size: 16px;
  color: #fff;
  background-color: #5dade2;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #7d3c98;
  border-radius: 0;
  border: 0;
}

.navbar-brand {
  padding-top: 25px;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #ccc;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}

#nav-list {
  margin-top: 10px;
  background-color: #a04000;
}
#nav-list a {
  color: #fff;
  text-align: center;
}
#nav-list a:hover {
  background: #E7E7E7;
}
#nav-list a span {
  font-size: 1.8em;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #000;
}

/* END HEADER */

/* HOME PAGE */
.container h2 {
  font-size: 1.4em;
}
.category-tile { 
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #CD5C5C;
  padding: 5px;
  border: 2px solid #3F0C1F;
}
.category-tile span {
  width: 100%;
  font-size: 1.2em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.category-tile p {
  width: 100%;
  text-align: justify;
  color: #fff;
  margin-right: -15px;
}

/* END HOME PAGE */

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 7vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
  }
  /* End Header */
}
